workflow_v1.json
{
    "nodes": [
        {
            "parameters": {
                "path": "opus-clip",
                "options": {}
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "yt-dlp -f \"bestvideo[height<=1080][ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]\" --output \"data/%(id)s.%(ext)s\" {{$node[\"Webhook\"].json[\"body\"][\"url\"]}}"
            },
            "id": "2",
            "name": "Download Video",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "ffmpeg -i data/{{$node[\"Download Video\"].json[\"id\"]}}.mp4 -vn -ar 16000 -ac 1 -c:a libmp3lame -q:a 4 data/{{$node[\"Download Video\"].json[\"id\"]}}.mp3"
            },
            "id": "3",
            "name": "Extract Audio",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "command": "whisper data/{{$node[\"Download Video\"].json[\"id\"]}}.mp3 --model base --output_format json --output_dir data/"
            },
            "id": "4",
            "name": "Transcribe",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Download Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Video": {
            "main": [
                [
                    {
                        "node": "Extract Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Audio": {
            "main": [
                [
                    {
                        "node": "Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}