workflow_v3.json
{
    "nodes": [
        {
            "parameters": {
                "path": "opus-clip",
                "options": {}
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "\"C:\\Users\\jpima\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python312\\Scripts\\yt-dlp.exe\" -f \"bestvideo[height<=1080][ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]\" --output \"data/%(id)s.%(ext)s\" {{$node[\"Webhook\"].json[\"body\"][\"url\"]}}"
            },
            "id": "2",
            "name": "Download Video",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "ffmpeg -y -i data/{{$node[\"Download Video\"].json[\"executable\"]}}.mp4 -vn -ar 16000 -ac 1 -c:a libmp3lame -q:a 4 data/{{$node[\"Download Video\"].json[\"executable\"]}}.mp3"
            },
            "id": "3",
            "name": "Extract Audio",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "command": "\"C:\\Users\\jpima\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python312\\Scripts\\whisper.exe\" data/{{$node[\"Download Video\"].json[\"id\"]}}.mp3 --model base --output_format json --output_dir data/"
            },
            "id": "4",
            "name": "Transcribe",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gemini-1.5-flash",
                "messages": {
                    "messageValues": [
                        {
                            "message": "Actúa como un editor de video experto en TikTok. Analiza la siguiente transcripción estructurada. Tu objetivo es identificar 3 segmentos autónomos que tengan alto potencial de retención.\n\nCriterios de Selección:\n1. Gancho Inmediato.\n2. Coherencia propia.\n3. Duración: 30-60 segundos.\n\nTranscripción: {{$node[\"Transcribe\"].json[\"text\"]}}\n\nResponde ÚNICAMENTE con un array JSON: [{\"title\": \"...\", \"start_time\": 0.0, \"end_time\": 0.0}]"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5",
            "name": "Google Gemini",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Download Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Video": {
            "main": [
                [
                    {
                        "node": "Extract Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Audio": {
            "main": [
                [
                    {
                        "node": "Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe": {
            "main": [
                [
                    {
                        "node": "Google Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}